<nb-card>
    <nb-card-header>
      Branch <span><button class="btn btn-primary float-right"  (click)="btnadd()" *ngIf="listshow==true">Add</button> </span>
    </nb-card-header>
    <nb-card-body>
          
                <div class="table-responsive table-border" *ngIf="listshow==true; else elseBlock">
                  <table id='table' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped row-border hover">
                    <thead>
                      <tr>
                        <th style="width: 32px"></th>
                        <th>Serial</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Company Name</th>
                        <th style="width: 10%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let branch of branchall; let num = index">
                        <td>
                        </td>
                        <td>{{num+1}}</td>
                        <td>{{branch.branchCode}}</td>
                        <td>{{branch.branchName}}</td>
                        <td>{{branch.companyName}}</td>
                        <td class="actions">
                          <i class="btn  btn-warning btn-sm fa fa-edit" (click)="btnEdit(branch)"  ></i>
                          <i class="btn btn-danger btn-sm fa fa-trash" (click)="btnDelete(branch)"   ></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <ng-template #elseBlock>
                  <div class="panel-body">
                    <div class="xs-mt-10 xs-mb-10  ">
                      <div class="row">
                        <div class="col-md-8">
                          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                            <div class="form-group">
                              <div class="row">
                                <label class="col-sm-3 control-label" for="form-control-1">Name</label>
                                <div class="col-sm-9">
                                  <input id="form-control-1" class="form-control" type="text" formControlName="branchName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.branchName.errors }" >
                                  <div *ngIf="submitted && f.branchName.errors" class="invalid-feedback">
                                    <div *ngIf="f.branchName.errors.required">Branch Name is required</div>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <label class="col-sm-3 control-label" for="form-control-1">Address</label>
                                <div class="col-sm-9">
                                  <input id="form-control-1" class="form-control" type="text" formControlName="Address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Address.errors }" >
                                  <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
                                    <div *ngIf="f.Address.errors.required">Address is required</div>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <label class="col-sm-3 control-label" for="form-control-1">Phone</label>
                                <div class="col-sm-9">
                                  <input id="form-control-1" class="form-control" type="text" formControlName="Phone" class="form-control"  >
                                </div>
                                </div>
                              </div>
                            <div class="form-group">
                              <div class="row">
                                <label class="col-sm-3 control-label" for="form-control-1">Mobile</label>
                                <div class="col-sm-9">
                                  <input id="form-control-1" class="form-control" type="text" formControlName="Mobile"  pattern="^\d{11}$" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Mobile.errors }" >
                                  <div *ngIf="submitted && f.Mobile.errors" class="invalid-feedback">
                                    <div *ngIf="f.Mobile.errors.required">Mobile is required</div>
                                    <div *ngIf="f.Mobile.errors.pattern">Invalid Mobile Number</div>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <label class="col-sm-3 control-label" for="form-control-1">Fax</label>
                                <div class="col-sm-9">
                                  <input id="form-control-1" class="form-control" type="text" formControlName="Fax" class="form-control"  >
                                </div>
                                </div>
                              </div>
                            <div class="form-group">
                              <div class="row">
                                <label class="col-sm-3 control-label" for="form-control-1">VatRegNo</label>
                                <div class="col-sm-9">
                                  <input id="form-control-1" class="form-control" type="VatRegNo" formControlName="VatRegNo" class="form-control" >
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                  <label class="col-sm-3 control-label" for="form-control-1">Company Name</label>
                                  <div class="col-sm-9">
                                    <select formControlName="companyId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyId.errors }" >
                                      <option [value]="0" selected>Choose Option</option> 
                                      <option *ngFor="let company of companyall; let num = index" [value]="company.id">{{company.companyName}}
                                        </option>
                                      </select>
                                      <div *ngIf="submitted && f.companyId.errors" class="invalid-feedback">
                                        <div *ngIf="f.companyId.errors.required">Company is required</div>
                                  </div>
                                  </div>
                                </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <label class="col-sm-3 control-label" for="form-control-1">Is SubBranch</label>
                                <div class="col-sm-9">
                                  <input type="checkbox" formControlName="IsSubBranch" />
                                </div>
                              </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary mr-1">Save</button>
                                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                            </div>
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
               </ng-template>
              </nb-card-body>
            </nb-card>
            