<nb-card>
    <nb-card-header>
     Procurment Indent Approve
    </nb-card-header>
    <nb-card-body>
      
                <div class="table-responsive table-border">
                  <table id='table' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 10px"></th>
                        <th>Serial</th>
                        <th>Date</th>
                        <th>Employee Name</th>
                        <th>Approved Date</th>
                          <th>Approved By</th>
                          <th>Procurment Approved Date</th>
                          <th>Procument Approved By</th>
                        <th style="width: 10%">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let branch of indentmasterall; let num = index" >
                        <td>
                        </td>
                        <td>{{num+1}} </td>
                        <td >{{branch.date  | date: 'dd/MM/yyyy'}}</td>
                        <td>{{branch.employeeName}}</td>
                        <td>{{branch.approvedDate  | date: 'dd/MM/yyyy'}}</td>
                        <td>{{branch.approvedBy}}</td>
                        <td>{{branch.procurmentAprvDate  | date: 'dd/MM/yyyy'}}</td>
                        <td>{{branch.procurmentAprvBy}}</td>
                        <td class="actions">
                          <i class="btn  btn-success  btn-sm" *ngIf="(branch.isProcurmentAprv==false) || (branch.isProcurmentAprv==null)" (click)="open2(dialog,branch)">Approved</i>
                          <i class="label label-success" *ngIf="branch.isProcurmentAprv==true">Approved</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </nb-card-body>
            </nb-card>
            <ng-template #dialog let-data let-ref="dialogRef">
              <nb-card>
                <nb-card-header>Indent Approved</nb-card-header>
                <nb-card-body>
                  <div class="form-group">
                  <div class="row">
                    <div class="col-md-3 control-label">Date : </div>
                    <div class="col-md-3">{{ data.date  | date: 'dd/MM/yyyy'}}</div>
                    <div class="col-md-3 control-label">Employee Name : </div>
                    <div class="col-md-3">{{ data.employeeName}}</div>
                  </div>
                </div>
                  <div class="table-responsive table-border">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="width: 32px"></th>
                          <th>Serial</th>
                          <th>Category Name</th>
                          <th>Product Name</th>
                          <th>Quantity</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let branch of data.indentDetails; let num = index" >
                          <td>
                          </td>
                          <td>{{num+1}} </td>
                          <td>{{branch.categoryName}}</td>
                          <td>{{branch.productName}}</td>
                          <td>{{branch.qty}}</td>
                        
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </nb-card-body>
                <nb-card-footer>
                  <button class="btn btn-success" (click)="onApproved(data,ref)" *ngIf="(data.isProcurmentAprv==false) || (data.isProcurmentAprv==null)" >Approved</button>
                  <button nbButton (click)="ref.close()">Close </button>
                </nb-card-footer>
              </nb-card>
            </ng-template>
