<nb-card>
  <nb-card-header>
    Indent <span><button class="btn btn-primary btn-sm float-right"  (click)="btnadd()" *ngIf="listshow==true">Add</button> </span>
    <span><button class="btn btn-primary btn-sm float-right"  style="display: none;"  *ngIf="listshow==false" (click)="open2(dialog)" >Indent From Requisition</button> </span>
  </nb-card-header>
  <nb-card-body>
  
              <div class="table-responsive table-border" *ngIf="listshow==true; else elseBlock">
                <table id='table' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 32px"></th>
                      <th>Serial</th>
                      <th>IndentId</th>
                      <th>Branch Name</th>
                      <th>Date</th>
                      <th>Employee Name</th>
                      <th style="width: 10%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let branch of indentmasterall; let num = index">
                      <td>
                      </td>
                      <td>{{num+1}}</td>
                      <td>{{branch.indentId}}</td>
                      <td>{{branch.branchName}}</td>
                      <td>{{branch.date  | date: 'dd/MM/yyyy'}}</td>
                      <td>{{branch.employeeName}}</td>
                      <td class="actions">
                        <i class="btn  btn-warning btn-sm fa fa-edit" (click)="btnEdit(branch)"  ></i>
                        <i class="btn  btn-info btn-sm fa fa-download" (click)="btnEdit(branch)"  ></i>
                        <i class="btn btn-danger btn-sm fa fa-trash" (click)="btnDelete(branch)" ></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #elseBlock>
                <div class="panel-body">
                  <div class="xs-mt-12 xs-mb-12  ">
                    <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                            <div class="row">
                              <label class="col-sm-2 control-label" for="form-control-1">Date </label>
                              <div class="col-sm-2">
                                <input nbInput placeholder="Min Max Picker"  [(ngModel)]="indentmaster.date"  class="form-control" [nbDatepicker]="picker" [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
                                    <nb-datepicker #picker [min]="min" [max]="max"></nb-datepicker>
                                <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                  <div *ngIf="f.date.errors.required">Date is required</div>
                              </div>
                              </div>
                              <label class="col-sm-2 control-label" for="form-control-1">Employee</label>
                    <div class="col-sm-2" >
                      <select [(ngModel)]="indentmaster.employeeId"  class="form-control">
                        <option value="">Choose Option</option>
                        <option *ngFor="let emp of employeeall; let num = index" [value]="emp.employeeId">
                          {{emp.employeeName}}
                        </option>
                      </select>
                      <div *ngIf="submitted && f.employeeId.errors" class="invalid-feedback">
                        <div *ngIf="f.employeeId.errors.required">Employee is required</div>
                      </div>
                    </div>
                            </div>
                          </div>
                          <hr style="height:1px;border:none;color:#333;background-color:#333;" />
                          <div class="form-group">
                              <div class="row">
                                <label class="col-sm-2 control-label" for="form-control-1">Product Name</label>
                                <!-- <div class="col-sm-2">
                                  <select class="form-control" [(ngModel)]="productId"  (change)="onProductChange($event.target.value)" >
                                    <option value="0" selected>select option </option>  
                                    <option *ngFor="let product of productall; let num = index" [value]="product.productId">{{product.productName}}
                                      </option>
                                    </select>
                                </div> -->

                                <div class="col-sm-3">
                                  <input  [(ngModel)]="productId" style="width: 300px;"  (ngModelChange)="onModelChange($event)" nbInput type="text" placeholder="Product Name"
                                  [nbAutocomplete]="autoNgModel" />
                                  
                                <nb-autocomplete #autoNgModel >
                             
                                  <nb-option *ngFor="let option of filteredNgModelOptions$ |  async" [value]="option.productId+'_'+option.productName"  >
                                    {{ option.productName }}
                                  </nb-option>
                                
                                </nb-autocomplete>
                                </div>



                                <label class="col-sm-2 control-label" for="form-control-1"  >Quantity</label>
                                <div class="col-sm-2">
                                  <input placeholder="Quantity" class="form-control"  [(ngModel)]="qty" (change)="onQTYChange($event.target.value)" >
                                </div>
                                <div class="col-sm-2">
                                  <div class="text-center">
                                    <button class="btn btn-secondary" type="reset" [disabled]="'btndisable'==true" (click)="btnaddProduct()">Add</button>
                                </div>
                                </div>
                              </div>
                          </div>
                          <div class="table-responsive table-border" style="max-height:500px;">
                            <!-- <form [formGroup]="indentEdit" (ngSubmit)="onSubmit()"> -->
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th style="width: 32px"></th>
                                  <th>Serial</th>
                                  <th>Product Name</th>
                                  <th>Product Quantity</th>
                                  <th style="width: 10%"></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let indentD of indentmaster.indentDetails; let num = index">
                                  <td></td>
                                  <td>{{num+1}}</td>
                                  <td> {{indentD.productName}}</td>
                                  <td><input type="text"  class="form-control" value={{indentD.qty}} id="editIndentQuantity">  </td>
                                  <td class="actions">
                                    <i class="btn btn-danger btn-sm fa fa-trash" (click)="btndetproduct(indentD.productid)"   ></i>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          <!-- </form> -->
                          </div>
                          <div class="float-left">
                            <div *ngFor="let data of tramsncondition; let num = index" >
                              <p class="xs-mt-6 xs-mb-6"  style="width:600px; overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">{{data.description}}</p>
                              </div>
                        </div>
                            <div class="float-right">
                                <button class="btn btn-primary btn-xs mr-1" (click)="onSubmit()">Save</button>
                                <button class="btn btn-secondary btn-xs" type="reset" (click)="onReset()">Cancel</button>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
             </ng-template>
             <ng-template #dialog let-data let-ref="dialogRef">
              <nb-card>
                <nb-card-header>Indent From Requisition</nb-card-header>
                <nb-card-body>
                  <div class="form-group">
                </div>
                  <div class="table-responsive table-border" style="width:1000px;">
                    <table id='table' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped">
                      <thead>
                        <tr>
                          <th style="width: 32px"></th>
                          <th>Serial</th>
                          <th>Requisition No</th>
                          <th>Date</th>
                          <th>Employee Name</th>
                          <th style="width: 20%">Action</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let branch of Requisitionmasterall; let num = index">
                        <tr >
                          <td>
                          </td>
                          <td>{{num+1}}</td>
                          <td (click)="branch.showdetail=!branch.showdetail;">{{branch.requisitionId}}</td>
                          <td>{{branch.rdt | date: 'dd/MM/yyyy'}}</td>
                          <td>{{branch.employeeName}}</td>
                          <td class="actions">
                            <i class="btn  btn-warning btn-sm fa fa-edit" (click)="btnTransfer(branch.requisitionId,ref)"  >Transfer to Indent</i>
                          </td>
                        </tr>
                        <tr *ngIf="branch.showdetail" >
                          <td colspan="6">
                            <table style="width:100% ;">
                              <thead>
                                <tr>
                                  <th style="width: 32px"></th>
                                  <th>Serial</th>
                                  <th>Product Name</th>
                                  <th>Product Quantity</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let RequisitionD of branch.requisitionDetails; let num = index">
                                  <td></td>
                                  <td>{{num+1}}</td>
                                  <td>{{RequisitionD.productName}}</td>
                                  <td>{{RequisitionD.rQty}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </nb-card-body>
                <nb-card-footer>
                  <button nbButton (click)="ref.close()">Close </button>
                </nb-card-footer>
              </nb-card>
            </ng-template>
            </nb-card-body>
          </nb-card>
       
     