<nb-card>
    <nb-card-header>
      Purchase
    </nb-card-header>
    <nb-card-body>
      <div class="panel-body">
        <div class="xs-mt-10 xs-mb-10  ">
          <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-2 control-label" for="form-control-1">Invoice</label>
                    <div class="col-sm-2">
                      <input nbInput placeholder="Search Invoice"  class="form-control"  [(ngModel)]="purchasefilter.invoice" >
                    </div>
                    <label class="col-sm-1 control-label" for="form-control-1">Date</label>
                    <div class="col-sm-2">
                      <input nbInput placeholder="Min Max Picker"  class="form-control"  [(ngModel)]="purchasefilter.pODate" [nbDatepicker]="picker" >
                      <nb-datepicker #picker ></nb-datepicker>
                    </div>
                    <label class="col-sm-2 control-label" for="form-control-1">Supplier</label>
                    <div class="col-sm-2">
                      <select  class="form-control"  [(ngModel)]="purchasefilter.supId"   >
                        <option [value]="0">--Choose Option--</option>
                        <option *ngFor="let supplier of supplierall; let num = index" [value]="supplier.id">{{supplier.supplierName}}
                        </option>
                      </select>
                    </div>
                  </div>
                 
                  <br/>
                </div>
                <div class="text-right">
                  <button class="btn btn-primary mr-1" (click)="filtersubmit()">Save</button>
                  <button class="btn btn-secondary" type="reset" (click)="onResetfilter()">Cancel</button>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
                <div class="table-responsive table-border">
                  <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped">
                    <thead>
                      <tr>
                        <th>Serial</th>
                        <th>Invoice No</th>
                        <th>Date</th>
                        <th>Supplier Name </th>
                        <!-- <th style="width: 10%">Action</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let indent of Purchaseorderall; let num = index">
                        <td>{{num+1}}</td>
                        <td (click)="open2(dialog,indent)" class="btn btn-success  btn-sm">{{indent.purchaseId}}</td>
                        <td >{{indent.pdt | date: 'dd/MM/yyyy' }}</td>
                        <td>{{indent.supName}}</td>
                        <!-- <td></td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
               
              </nb-card-body>
            </nb-card>
            <ng-template #dialog let-data let-ref="dialogRef">
                <nb-card>
                  <nb-card-header>Product Derail</nb-card-header>
                  <nb-card-body>
                    <div class="form-group">
                    <div class="row">
                      <div class="col-md-1 control-label">No: </div>
                      <div class="col-md-2">{{ data.purchaseId}}</div>
                      <div class="col-md-2 control-label">Date: </div>
                      <div class="col-md-2">{{ data.pdt  | date: 'dd/MM/yyyy'}}</div>
                      <div class="col-md-2 control-label">Supplier Name: </div>
                      <div class="col-md-2">{{ data.supName}}</div>
                    </div>
                  </div>
                    <div class="table-responsive table-border">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th style="width: 32px"></th>
                            <th>Serial</th>
                            <th>Product Name</th>
                            <th>QTY</th>
                            <th>Price</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let branch of data.purchaseDetails; let num = index" >
                            <td>
                            </td>
                            <td>{{num+1}} </td>
                            <td >{{branch.productName}}</td>
                            <td>{{branch.pQty}}</td>
                            <td>{{branch.pPrice}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </nb-card-body>
                  <nb-card-footer>
                    <button nbButton (click)="ref.close()">Close </button>
                  </nb-card-footer>
                </nb-card>
              </ng-template>
