<nb-card>
    <nb-card-header>
      Stocktransfer Receive List
    </nb-card-header>
    <nb-card-body>
                <div class="table-responsive table-border">
                  <table id='table' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 10px"></th>
                        <th>Serial</th>
                        <th>Date</th>
                        <th>From Branch</th>
                        <th>From Company</th>
                        <th>To Branch</th>
                        <th>To Company</th>
                        <th>Approved Date</th>
                          <th>Approved By</th>
                          <th>Receive Date</th>
                          <th>Receive By</th>
                        <th style="width: 12%">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let branch of stocktransfereall; let num = index" >
                        <td>
                        </td>
                        <td>{{num+1}} </td>
                        <td >{{branch.transferDate  | date: 'dd/MM/yyyy'}}</td>
                        <td>{{branch.fromBranchName}}</td>
                        <td>{{branch.fromCompanyName}}</td>
                        <td>{{branch.toBranchName}}</td>
                        <td>{{branch.toCompanyName}}</td>
                        <td>{{branch.approvedDate  | date: 'dd/MM/yyyy'}}</td>
                        <td>{{branch.approvedBy}}</td>
                        <td>{{branch.receiveDate  | date: 'dd/MM/yyyy'}}</td>
                        <td>{{branch.receiveBy}}</td>
                        <td class="actions">
                          <i class="btn  btn-success  btn-sm" *ngIf="(branch.isReceive==null || branch.isReceive==false )" (click)="open2(dialog,branch)">Waiting For Receive</i>
                          <i class="label label-success" *ngIf="branch.isReceive==true">Received</i>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </nb-card-body>
            </nb-card>
            <ng-template #dialog let-data let-ref="dialogRef">
              <nb-card>
                <nb-card-header>Receive </nb-card-header>
                <nb-card-body>
                  <div class="form-group">
                  <div class="row">
                    <div class="col-md-1 control-label">Date:</div>
                    <div class="col-md-3" style="text-align:left;">{{ data.transferDate  | date: 'dd/MM/yyyy'}}</div>
                    <div class="col-md-3 control-label">Employee Name:</div>
                    <div class="col-md-3">{{ data.employeeName}}</div>
                  </div>
                </div>
                  <div class="table-responsive table-border">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="width: 32px"></th>
                          <th>Serial</th>
                          <th>Category Name</th>
                          <th>Product Name</th>
                          <th>Transfer QTY</th>
                          <th>Receive Quantity</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let branch of data.stockTransferDetails; let num = index" >
                          <td>
                          </td>
                          <td>{{num+1}} </td>
                          <td>{{branch.categoryName}}</td>
                          <td>{{branch.productName}}</td>
                          <td>{{branch.stQty}}</td>
                          <td><input  nbInput fullWidth fieldSize="small" class=" input-sm" [(ngModel)]="branch.stReceiveQty" /> </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </nb-card-body>
                <nb-card-footer class="pull-right" style="text-align:right">
                  <div >
                  <button class="btn btn-success" (click)="onreceive(data,ref)" *ngIf="(data.isReceive==false) || (data.isReceive==null)" >Received</button>
                  <button nbButton (click)="ref.close()">Close </button>
                </div>
                </nb-card-footer>
              </nb-card>
            </ng-template>