<nb-card>
  <nb-card-header>
    Role <span><button class="btn btn-primary float-right" (click)="open2(dialog,'')"> Add</button> </span>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 10px"></th>
          <th>Serial</th>
          <th>Name</th>
          <th style="width: 15%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roleall; let num = index">
          <td>
          </td>
          <td>{{num+1}}</td>
          <td>{{role.name}}</td>
          <td class="actions">
            <i  class="btn   btn-warning btn-xs fa fa-edit" (click)="open2(dialog,role)"></i>
            <i  class="btn btn-danger btn-xs fa fa-trash" (click)="btnDelete(role)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">

<nb-card>
  <nb-card-header>Add Role</nb-card-header>
  <nb-card-body>
    <div class="form-group">
      <div class="row">
        <label class="col-sm-3 control-label" for="form-control-1">Name</label>
        <div class="col-sm-9">
          <input id="form-control-1" class="form-control" type="text" [(ngModel)]="role.Name" class="form-control" >
        </div>
        </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button  class="btn btn-success" (click)="save(ref)" >Save</button>
    <button  class="btn btn-warning" (click)="ref.close()">Close </button>
  </nb-card-footer>
</nb-card>
</ng-template>
  
