<nb-card>
    <nb-card-header>
      Indent To Purchase Order Process new
    </nb-card-header>
    <nb-card-body>

      <div class="row">
        <label class="col-sm-3 control-label" for="form-control-1">Supplier Name</label>
                    <div class="col-sm-9">
                      <nb-select  placeholder="Supplier"  [(ngModel)]="supplierId" >
                      <nb-option *ngFor="let supplier of suppliersListAll; let num = index"
                          [value]="supplier.id">{{supplier.supplierName}}
                        </nb-option>
                      </nb-select>
                    </div>
      </div>
      <div class="row">
        <label class="col-sm-3 control-label" for="form-control-1">Product Name</label>
                    <!-- <div class="col-sm-9">
                      <nb-select multiple placeholder="Multiple Select" (selectedChange)="onSelectProduct($event)">
                        
                      <nb-option *ngFor="let productid of indentProceespovmall; let num = index"
                          [value]="productid.productId">{{productid.productName}}
                        </nb-option>
                      </nb-select>
                     
                    </div> -->

                    <div class="col-sm-0" style="width: 500px;">
                      <input  [(ngModel)]="productId"  (ngModelChange)="onModelChange($event)" nbInput type="text" placeholder="Product Name"
                      [nbAutocomplete]="autoNgModel"  style="width: 500px;" />
                      
                      <nb-autocomplete #autoNgModel >
                  
                        <nb-option *ngFor="let option of filteredNgModelOptions$ | async" [value]="option.productId+'_'+option.productName"   style="width: 500px;">
                          {{ option.productName }}
                        </nb-option>
                      
                      </nb-autocomplete>
                    </div>
                    <div class="col-sm-0">
                      <button class="btn btn-primary" (click)="buttonAddClick()">Add</button>
                    </div>
      </div>
      
        

        <div class="row">
          
        </div>


                <div class="table-responsive table-border" style="overflow-x: hidden;">
                  <table id='table' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 32px"></th>
                        <th>Serial</th>
                        <th>IndentNO</th>
                        <th>Product Name</th>
                        <th>Indent QTY</th>
                        <th>WHQTY</th>
                        <th>Rate</th>
                       
                        <th>POQTY</th>
                        <th>PO Rate</th>
                        <th></th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let branch of indentProceespovmalldata; let num = index" >
                        <td>
                        </td>
                        <td>{{num+1}} </td>
                        <td>{{branch.indentId}}</td>
                        <td>{{branch.productName}}</td>
                        <td>{{branch.qty}}</td>
                        <td>{{branch.stock}}</td>
                        <td>{{branch.cpu}}</td>
                        <td class="padding:1px"><input type="text" nbInput fullWidth fieldSize="small" class=" input-sm" [(ngModel)]="branch.poqty"></td>
                        <td class="padding:1px"><input  type="text"  nbInput fullWidth fieldSize="small" class=" input-sm" [(ngModel)]="branch.porate"></td>
                        <td></td>
                        <td>
                          <i class="btn btn-danger btn-sm fa fa-trash" (click)="btnDeleteFromList(branch)"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table> 
                  
                  <div class="text-right  groupbutton">
                    <button class="btn btn-primary mr-1" (click)="onSubmit()">Save</button>
                </div>
                </div>
              </nb-card-body>
            </nb-card>